---
- name: Add Deployment Type + Change Detection Method
  hosts: all
  gather_facts: no

  tasks:
  - name: Add Deployment Type + Change Detection Method
    win_shell: |
      Import-Module "$($ENV:SMS_ADMIN_UI_PATH)\..\ConfigurationManager.psd1"
      cd "CAS:"

      $AppName = "Upgrade Test"

      $NewDeploymentTypeName = "Upgrade Test Deploy 9"

      $DetectionFilePath = "D:\TestUpgrader\{{ fileName }}.zip"

      $fileName = "{{ fileName }}.zip"

      $clause = New-CMDetectionClauseFile -Path "D:\TestUpgrader\" -FileName $fileName -Existence

      Add-CMScriptDeploymentType `
        -ApplicationName $AppName `
        -DeploymentTypeName $NewDeploymentTypeName `
        -InstallationProgram "xcopy /E /Y /v \\RND1SCCMCAS\Update\*.* d:\TestUpgrader\" `
        -AddDetectionClause $clause `
        -InstallationBehaviorType InstallForSystem
