---
- name: Remove Deployment Type
  hosts: all
  gather_facts: no

  tasks:
    - name: Remove Deployment Type
      win_shell: |
        Import-Module "$($ENV:SMS_ADMIN_UI_PATH)\..\ConfigurationManager.psd1"
        cd "CAS:"
        $AppName = "Upgrade Test"
        $DeploymentType = Get-CMDeploymentType -ApplicationName $AppName
        foreach ($dt in $DeploymentType) {
            $flag = 1
            Write-Host "Removing deployment type: $($dt.LocalizedDisplayName)"
            Remove-CMDeploymentType -ApplicationName $appName -DeploymentTypeName $dt.LocalizedDisplayName -Force
        }
        if($flag -eq 1){
            Write-Host "Berhasil menghapus"
        } else {
            Write-Host "Tidak ada Deployment Type"
        }
